<section class="vh-100" style="background-color: #f8fbff;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <h3 class="mb-5">Sign in</h3>

                        <form [formGroup]="form" (submit)="submit()">
                            <div class="form-outline mb-4">
                                <app-input [control]="form.controls.email"
                                    [placeholder]="'Email or username'"></app-input>
                            </div>
                            <div class="form-outline mb-4">
                                <app-input [control]="form.controls.password" [placeholder]="'Password'"
                                    [type]="'password'"></app-input>
                            </div>
                            <button class="btn btn-primary btn-lg btn-block" type="submit">Entrar</button>
                        </form>

                        <div class="d-flex justify-content-between align-items-center">
                            <a (click)="recuperarSenha()" class="text-body" style="cursor: pointer;">Esqueceu a
                                senha?</a>
                        </div>

                        <div class="d-flex justify-content-between align-items-center">
                            <a (click)="registrar()" class="text-body" style="cursor: pointer;">Não possuí conta?
                                Clique aqui</a>
                        </div>

                        <hr class="my-4">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>