<app-modal [text]="'Cadastro / Cliente'" (close)="close()" (salvar)="salvar()">
    <div class="card-body">
      <form [formGroup]="form">
        <div class="row">
          <app-input [control]="form.controls.nome" [placeholder]="'Nome'" class="col-md-12"
            [id]="'nome'"></app-input>
  
            <app-input [control]="form.controls.cpf" [placeholder]="'Cpf'" class="col-md-12"
            [id]="'cpf'"></app-input>

          <app-input [control]="form.controls.nascimento" [placeholder]="'Data de nascimento'" class="col-md-12"
          [id]="'nascimento'" [type]="'date'"></app-input> 

        </div>
      </form>
    </div>
  </app-modal>