<div class="card card-body">
  <div class="row">
    <div class="col-md-10">
      <h4 class="font-weight-bold py-1 mb-2">
        <span class="text-muted font-weight-light">Cadastro</span> / Produto
      </h4>
    </div>

    <div class="col-md-2">
      <div>
        <button class="btn btn-primary" type="button" (click)="crud(0)">
          <span class="fa fa-plus-circle"></span>&nbsp;&nbsp;Novo
        </button>
      </div>
    </div>
  </div>
  <hr class="border-light" />

  <table cTable [responsive]="true">
    <thead cTableColor="light">
      <tr>
        <th>#</th>
        <th>Rotulo</th>
        <th>Tamanho</th>
        <th>Status</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of produtos">
        <th> {{item.id}} </th>
        <td> {{item.rotulo}} </td>
        <td> {{item.tamanho}} </td>
        <td>
          <p class=" badge rounded-pill" style="min-width: 5.5em;" [ngClass]="item.isActive?'bg-success': 'bg-danger'">
            {{item.isActive?'Ativa':'Inativa'}}</p>
        </td>
        <td>
          <button class="btn btn-primary btn-sm" style="margin-right: 3px" (click)="crud(item.id)">
            <span class="fa fa-edit"></span>
          </button>

          <button class="btn btn-sm btn-danger" ngbTooltip="Excluir" (click)="excluir(item.id)">
            <span class="fa fa-trash"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>