<div class="container d-flex align-items-center">
    <img class="img-fluid" style="max-width: 100px; height: auto;" src="assets/img/logo/lautxp.svg" alt="Logo LaütXP">
    <h4 class="mb-0 mx-auto text-center">Ranking</h4>
</div>
<div class="row mt-4">
    <div class="col-md-4" style="flex: 0 0 35%; max-width: 35%; position: relative;">
        <h5 class="text-center">Podium</h5>
        <div class="row">
            <div class="col-4 text-center d-flex flex-column align-items-center" style="height: 100%;">
                <img src="assets/img/podium/bronze.svg" alt="bronze" class="img-fluid mb-2">
                <object data="assets/img/podium/pintBronze.html" class="img-fluid" style="position: absolute; bottom: 0; width: 100%; height: 100%; border: none;"></object>
            </div>
            <div class="col-4 text-center d-flex flex-column align-items-center" style="height: 100%;">
                <img src="assets/img/podium/ouro.svg" alt="ouro" class="img-fluid mb-2">
                <object data="assets/img/podium/pintOuro.html" class="img-fluid" style="position: absolute; bottom: 0; width: 100%; height: 100%; border: none;"></object>
            </div>
            <div class="col-4 text-center d-flex flex-column align-items-center" style="height: 100%;">
                <img src="assets/img/podium/prata.svg" alt="prata" class="img-fluid mb-2">
                <object data="assets/img/podium/pintPrata.html" class="img-fluid" style="position: absolute; bottom: 0; width: 100%; height: 100%; border: none;"></object>
            </div>
        </div>
    </div>
    <div class="col-md-4" style="flex: 0 0 35%; max-width: 35%;">
        <h5 class="text-center">Premiação</h5>
        <ol style="list-style-type: none; padding-left: 0;">
            <li style="padding-bottom: 5px;">
                <span style="display: inline-block; width: 20px;">1º</span> Premiação 1
            </li>
            <li style="padding-bottom: 5px;">
                <span style="display: inline-block; width: 20px;">2º</span> Premiação 2
            </li>
            <li style="padding-bottom: 5px;">
                <span style="display: inline-block; width: 20px;">3º</span> Premiação 3
            </li>
        </ol>
        <div class="text-center mt-3">
            <img src="assets/img/publicidade/imgteste.svg" alt="Publicidade" style="width: 100%; height: 100%; object-fit: fill;">
        </div>
    </div>
    <div class="col-md-4" style="flex: 0 0 30%; max-width: 30%;">
        <h5 class="text-center">Restante do Ranking</h5>
        <ol style="list-style-type: none; padding-left: 0;">

            <!-- Gráfico 4 aqui -->
            <span class="ranking-pos" style="position:absolute;">4º</span>
            <li style="padding-bottom: 0px; padding-left: 0px; height: 40px;">              
                <span style="display: inline-block; width: 21px;"></span> 
                <span class=><object data="assets/img/ranking/rankingOuro.html" class="img-fluid" style="width:90%;"></object></span>
            </li>

            <!-- Gráfico 5 aqui -->
            <span class="ranking-pos" style="position:absolute;">5º</span>
            <li style="padding-bottom: 0px; padding-left: 0px; height: 40px;">          
                <span style="display: inline-block; width: 21px;"></span> 
                <span class=><object data="assets/img/ranking/rankingOuro.html" class="img-fluid" style="width:90%;"></object></span>
            </li>

            <!-- Gráfico 6 aqui -->
            <span class="ranking-pos" style=position:absolute;>6º</span>
            <li style="padding-bottom: 0px; padding-left: 0px; height: 40px;">              
                <span style="display: inline-block; width: 21px;"></span> 
                <span class=><object data="assets/img/ranking/rankingOuro.html" class="img-fluid" style="width:90%;"></object></span>
            </li>

            <!-- Gráfico 7 aqui -->
            <span class="ranking-pos" style=position:absolute;>7º</span>
            <li style="padding-bottom: 0px; padding-left: 0px; height: 40px;">              
                <span style="display: inline-block; width: 21px;"></span> 
                <span class=><object data="assets/img/ranking/rankingOuro.html" class="img-fluid" style="width: 90%;"></object></span>
            </li>

            <!-- Gráfico 8 aqui -->
            <span class="ranking-pos" style=position:absolute;>8º</span>
            <li style="padding-bottom: 0px; padding-left: 0px; height: 40px;">             
                <span style="display: inline-block; width: 21px;"></span> 
                <span class=><object data="assets/img/ranking/rankingOuro.html" class="img-fluid" style="width: 90%;"></object></span>
            </li>

            <!-- Gráfico 9 aqui -->
            <span class="ranking-pos" style=position:absolute;>9º</span>
            <li style="padding-bottom: 0px; padding-left: 0px; height: 40px;">               
                <span style="display: inline-block; width: 21px;"></span> 
                <span class=><object data="assets/img/ranking/rankingOuro.html" class="img-fluid" style="width: 90%;"></object></span>
            </li>

            <!-- Gráfico 10 aqui -->
            <span class="ranking-pos" style=position:absolute;>10º</span>
            <li style="padding-bottom: 0px; padding-left: 0px; height: 40px;">
            <span style="display: inline-block; width: 21px;"></span> 
                <span class=><object data="assets/img/ranking/rankingOuro.html" class="img-fluid" style="width: 90%;"></object></span>
            </li>

             <!-- Gráfico 11 aqui -->
             <span class="ranking-pos" style=position:absolute;>11º</span>
             <li style="padding-bottom: 0px; padding-left: 0px; height: 40px;">
             <span style="display: inline-block; width: 21px;"></span> 
                 <span class=><object data="assets/img/ranking/rankingOuro.html" class="img-fluid" style="width: 90%;"></object></span>
             </li>

              <!-- Gráfico 12 aqui -->
            <span class="ranking-pos" style=position:absolute;>12º</span>
            <li style="padding-bottom: 0px; padding-left: 0px; height: 40px;">
            <span style="display: inline-block; width: 21px;"></span> 
                <span class=><object data="assets/img/ranking/rankingOuro.html" class="img-fluid" style="width: 90%;"></object></span>
            </li>

             <!-- Gráfico 13 aqui -->
             <span class="ranking-pos" style=position:absolute;>13º</span>
             <li style="padding-bottom: 0px; padding-left: 0px; height: 40px;">
             <span style="display: inline-block; width: 21px;"></span> 
                 <span class=><object data="assets/img/ranking/rankingOuro.html" class="img-fluid" style="width: 90%;"></object></span>
             </li>

              <!-- Gráfico 14 aqui -->
            <span class="ranking-pos" style=position:absolute;>14º</span>
            <li style="padding-bottom: 0px; padding-left: 0px; height: 40px;">
            <span style="display: inline-block; width: 21px;"></span> 
                <span class=><object data="assets/img/ranking/rankingOuro.html" class="img-fluid" style="width: 90%;"></object></span>
            </li>

             <!-- Gráfico 15 aqui -->
             <span class="ranking-pos" style=position:absolute;>15º</span>
             <li style="padding-bottom: 0px; padding-left: 0px; height: 40px;">
             <span style="display: inline-block; width: 21px;"></span> 
                 <span class=><object data="assets/img/ranking/rankingOuro.html" class="img-fluid" style="width: 90%;"></object></span>
             </li>
   
        </ol>
    </div>    
</div>
